<div class="panel sidebar">
  <div class="avatar-container">
    <img class="avatar" src="https://avatars2.githubusercontent.com/u/396039">
  </div>
  <div class="panel-body text-center headline">
    <h2>{{ site.title }}</h2>
    <p>{{ site.description }}</p>

    <hr />

    <div class="badges">
      <a class="fa fa-github-square" href="https://github.com/{{site.github_username}}"></a>
      <a class="fa fa-twitter-square" href="https://twitter.com/{{site.twitter_username}}"></a>
      <a class="fa fa-instagram" href="https://instagram.com/{{site.instagram_username}}"></a>
      <a class="fa fa-envelope-square" href="mailto: {{site.email}}"></a>
      <a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/{{site.linkedin_username}}"></a>
    </div>
  </div>
</div>