@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

@import '_colors';
@import '_fade-overlay';
@import 'post';
@import 'work';
@import '_syntax';

// Smooth scroll behavior
html {
  scroll-behavior: smooth;
}
