<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en-US" }}">
  <head>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    {{ $style := resources.Get "scss/main.scss" | css.Sass | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ .Title }} - {{ .Site.Title }}</title>
  </head>
  <body>
    <div class='dstancu-container'>
      {{ partial "header.html" . }}
      <div class='content mt4'>
        {{ block "main" . }}{{ end }}
      </div>
    </div>
  </body>
</html>