body {
  background-attachment: fixed;
  background-color: $bg-dark;
  font-family: 'Lato', sans-serif;
}

#contrast {  
  background-color: $bg-lite;
}

.main-content {
  padding-top: 5%;
  width: 60%;
}

.main-panel {
  padding: 1px 30px 30px 30px;
  background-color: $sidebar;
  border: 2px solid $bg-lite;
  border-radius: 5px;

  .panel, .panel-content {
    border: 0px;
    border-color: transparent;
    background-color: transparent;
  }

  .postmeta {
    span { 
      margin: 0 5px 0 5px; 

      &:first-child {
        margin-left: 0px;
      }
    }
  }
}