.footer {
  background-color: $sidebar;
  margin-top: 50px;
  border-radius: 5px;
  padding: 1px 30px 30px 30px;
  border: 2px solid $bg-lite;

  .footlinks {
    font-size: 8pt;
    font-style: italic;
    margin-bottom: -15px;
    color: $bg-dark;
  }

  .typeahead {
    font-size: 16pt;
    height: 45px;
    width: 100% !important;
    padding-left: 40px !important;
  }
  .ta-glass {
    padding: 15px;
    z-index: 10;
    position: absolute;
  }

  .twitter-typeahead, .tt-hint, .tt-input, .tt-menu { 
    width: 100%;
    transition: visibility 1s ease-in-out;
  }

  .tt-dataset {
    width: 100%;
    margin-top: 15px;

    h4 {
      color: $sidebar;
    }

    div {
      margin-top: 10px;

      &:first {
        margin-top: 0px;
      }

      background-color: $bg-dark;
      color: $bg-lite;
      border-radius: 10px;
      padding: 10px;


      transition: background-color 0.5s ease-in-out;
      transition: color 0.1s ease-in-out;
      &:hover {
        color: $bg-dark;
        background-color: $bg-lite;
      }
    }
  }
}

#all-posts {
  display: none;
}