.navbar {
  @media screen and (min-width: 1200px) {
    display: none;
  }

  .badges {
    margin-top: 4px;
    margin-right: 1px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 35px;

    a {
      padding: 0 5px 0 5px;
    }

    a:hover {
      text-decoration: none;
    }
  }
}