.sidebar {
  height: 330px;
  position: fixed;
  top: 15%;
  left: -2px;
  width: 250px;

  border-radius: 0 5px 5px 0 !important;
  border: 2px solid $bg-lite;

  background-color: $sidebar;

  @media screen and (max-width: 1200px) {
    display: none;
  }

  .avatar-container {
    justify-content: center; 
    flex-direction: row;
    width: 100%;
    margin-top: -20%;
    margin-left: 25%;

    .avatar {
      max-width: 50%;
      // i.e. a circle
      border-radius: 50%;
      border: 4px solid $bg-lite;

      position: absolute;
    }
  }

  .headline {
    top: 50px;
    position: absolute;

    h2 { font-weight: 650; }
  }

  transition: background-color 2s ease-in-out;
  &:hover {
    background-color: rgba($sidebar, 0.85);
  }

  .badges {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 35px;

    a {
      padding: 0 5px 0 5px;
    }

    a:hover {
      text-decoration: none;
    }
  }
}
